header {
  position: relative;
  height: 100vh;
  background-image: url(./images/a3b0765a-6a35-42ac-8e79-7ee1166ba39b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  .container {
    max-width: 1200px;
    margin-left: 60px;
    margin-right: 60px;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      nav {position: relative;
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          column-gap: 150px;

          li {
            padding: 20px;
            list-style: none;
            a {
              text-decoration: none;
              color: white;
              &:hover::after {
                content: "";
                width: 20px;
                height: 2px;
                background-color: red;
                display: block;
                position: absolute;
              }
            }
          }
        }
      }
    }
  }
  .second {
    .text {
      margin-top: 180px;
      p {
        color: rgb(190, 142, 83);
      }
      h1 {
        color: white;
        font-size: 50px;
        margin-bottom: 10px;
        font-family: "Roboto", sans-serif;
      }
      a {
        color: white;
        text-decoration: none;
        border: 1px solid bisque;
        padding: 10px;
        background-color: pink;
      }
    }
  }
  .img-hover {
    img {
      width: 530px;
      position: absolute;
      right: 0;
      transition: 1s;
      &:hover {
        transform: translateY(100px);
      }
    }
  }
}
