*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table td,
table th{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
table{
    width: 100%;
    max-width: 900px;
    margin:2px auto;
    border-collapse: collapse;
}
table th{
    cursor: pointer;
}
.arrowUp,
.fa-arrow-up ,
.fa-arrow-down{
    display: none;
}
.arrowDown{
    display: block;
}
.idupdown{
    display: flex;
    gap: 5px;
}
input{
    width: 62%;
    padding: 10px 17px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #ccc;
    
}
.search{
    display: flex;
    justify-content: center;
    margin: 8px 0;  
}